<!DOCTYPE html>
<html>
<head>
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js">

   </script>

    <title>Techstitution</title>


  <nav class="nav-extended cyan lighten-1   center ">
    <div class="nav-content">
      <span class="nav-title"> Autoriteti Rregullativ i Komunikimeve Elektronike dhe Postare</span>
      <a class="btn-floating btn-large halfway-fab waves-effect #78909c blue-grey lighten-1 z-depth-3">arkep  </a>
    </div>
  </nav>

</head>
<body class=" blue-grey lighten-5 ">








{% block form%}
{% endblock form%}
</body>
</html>
