<!DOCTYPE html>
<html>
<head>
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js">

   </script>

    <title>Techstitution</title>


  <nav class="nav-extended #26c6da cyan lighten-12   center ">
    <div class="nav-content">
      <span class="nav-title"> Autoriteti Rregullativ i Komunikimeve Elektronike dhe Postare</span>
      <a class="btn-floating btn-large halfway-fab waves-effect #78909c blue-grey lighten-1 z-depth-3">arkep  </a>
    </div>
  </nav>

</head>
<body>



  <div class="container" style="padding-top:16px">

          <div class="row center">



                 <a class=" header center waves-effect #78909c blue-grey lighten-1 btn-large  z-depth-5">
                    <h6> PYETËSORI PËR OFRUESIT E SHËRBIMEVE TË TELEFONISË MOBILE</h6>
                 </a>
                 <br>

                 <div class=" collapsible popout card-panel #b3e5fc light-blue lighten-4  ">
                    <span class="text-grey darken-4">
                    Tremujori i  1-re i vitit 2017<br>
                    (Periudha prej 01/01/2017 deri 31/03/2017 )
                    </span>
                 </div>
              </div>
  </div>






{% block form%}
{% endblock form%}
</body>
</html>
